/*
 * Width
**/
// Keyword
.width(auto, auto);
.width(min, min-content);
.width(max, max-content);
.width(full, 100%);
.width(screen, 100vw);
// Percent
.width(~'1\/12', (1 / 12 * 100%));
.width(~'2\/12', (2 / 12 * 100%));
.width(~'3\/12', (3 / 12 * 100%));
.width(~'4\/12', (4 / 12 * 100%));
.width(~'5\/12', (5 / 12 * 100%));
.width(~'6\/12', (6 / 12 * 100%));
.width(~'7\/12', (7 / 12 * 100%));
.width(~'8\/12', (8 / 12 * 100%));
.width(~'9\/12', (9 / 12 * 100%));
.width(~'10\/12', (10 / 12 * 100%));
.width(~'11\/12', (11 / 12 * 100%));
.width(~'1\/5', (1 / 5 * 100%));
.width(~'2\/5', (2 / 5 * 100%));
.width(~'3\/5', (3 / 5 * 100%));
.width(~'4\/5', (4 / 5 * 100%));
// Pixel
.width(0, 0px);
.width(5, 5px);
.width(10, 10px);
.width(15, 15px);
.width(20, 20px);
.width(25, 25px);
.width(30, 30px);
.width(35, 35px);
.width(40, 40px);
.width(45, 45px);
.width(50, 50px);
.width(55, 55px);
.width(60, 60px);
.width(65, 65px);
.width(70, 70px);
.width(75, 75px);
.width(80, 80px);
.width(85, 85px);
.width(90, 90px);
.width(95, 95px);
.width(100, 100px);
.width(105, 105px);
.width(110, 110px);
.width(115, 115px);
.width(120, 120px);
@media (min-width: @screen-sm) {
  @screens: ~'sm';
  // Keyword
  .width(auto, auto, @screens: @screens);
  .width(min, min-content, @screens: @screens);
  .width(max, max-content, @screens: @screens);
  .width(full, 100%, @screens: @screens);
  .width(screen, 100vw, @screens: @screens);
  // Percent
  .width(~'1\/12', (1 / 12 * 100%), @screens: @screens);
  .width(~'2\/12', (2 / 12 * 100%), @screens: @screens);
  .width(~'3\/12', (3 / 12 * 100%), @screens: @screens);
  .width(~'4\/12', (4 / 12 * 100%), @screens: @screens);
  .width(~'5\/12', (5 / 12 * 100%), @screens: @screens);
  .width(~'6\/12', (6 / 12 * 100%), @screens: @screens);
  .width(~'7\/12', (7 / 12 * 100%), @screens: @screens);
  .width(~'8\/12', (8 / 12 * 100%), @screens: @screens);
  .width(~'9\/12', (9 / 12 * 100%), @screens: @screens);
  .width(~'10\/12', (10 / 12 * 100%), @screens: @screens);
  .width(~'11\/12', (11 / 12 * 100%), @screens: @screens);
  .width(~'1\/5', (1 / 5 * 100%), @screens: @screens);
  .width(~'2\/5', (2 / 5 * 100%), @screens: @screens);
  .width(~'3\/5', (3 / 5 * 100%), @screens: @screens);
  .width(~'4\/5', (4 / 5 * 100%), @screens: @screens);
  // Pixel
  .width(0, 0px, @screens: @screens);
  .width(5, 5px, @screens: @screens);
  .width(10, 10px, @screens: @screens);
  .width(15, 15px, @screens: @screens);
  .width(20, 20px, @screens: @screens);
  .width(25, 25px, @screens: @screens);
  .width(30, 30px, @screens: @screens);
  .width(35, 35px, @screens: @screens);
  .width(40, 40px, @screens: @screens);
  .width(45, 45px, @screens: @screens);
  .width(50, 50px, @screens: @screens);
  .width(55, 55px, @screens: @screens);
  .width(60, 60px, @screens: @screens);
  .width(65, 65px, @screens: @screens);
  .width(70, 70px, @screens: @screens);
  .width(75, 75px, @screens: @screens);
  .width(80, 80px, @screens: @screens);
  .width(85, 85px, @screens: @screens);
  .width(90, 90px, @screens: @screens);
  .width(95, 95px, @screens: @screens);
  .width(100, 100px, @screens: @screens);
  .width(105, 105px, @screens: @screens);
  .width(110, 110px, @screens: @screens);
  .width(115, 115px, @screens: @screens);
  .width(120, 120px, @screens: @screens);
}
@media (min-width: @screen-md) {
  @screens: ~'md';
  // Keyword
  .width(auto, auto, @screens: @screens);
  .width(min, min-content, @screens: @screens);
  .width(max, max-content, @screens: @screens);
  .width(full, 100%, @screens: @screens);
  .width(screen, 100vw, @screens: @screens);
  // Percent
  .width(~'1\/12', (1 / 12 * 100%), @screens: @screens);
  .width(~'2\/12', (2 / 12 * 100%), @screens: @screens);
  .width(~'3\/12', (3 / 12 * 100%), @screens: @screens);
  .width(~'4\/12', (4 / 12 * 100%), @screens: @screens);
  .width(~'5\/12', (5 / 12 * 100%), @screens: @screens);
  .width(~'6\/12', (6 / 12 * 100%), @screens: @screens);
  .width(~'7\/12', (7 / 12 * 100%), @screens: @screens);
  .width(~'8\/12', (8 / 12 * 100%), @screens: @screens);
  .width(~'9\/12', (9 / 12 * 100%), @screens: @screens);
  .width(~'10\/12', (10 / 12 * 100%), @screens: @screens);
  .width(~'11\/12', (11 / 12 * 100%), @screens: @screens);
  .width(~'1\/5', (1 / 5 * 100%), @screens: @screens);
  .width(~'2\/5', (2 / 5 * 100%), @screens: @screens);
  .width(~'3\/5', (3 / 5 * 100%), @screens: @screens);
  .width(~'4\/5', (4 / 5 * 100%), @screens: @screens);
  // Pixel
  .width(0, 0px, @screens: @screens);
  .width(5, 5px, @screens: @screens);
  .width(10, 10px, @screens: @screens);
  .width(15, 15px, @screens: @screens);
  .width(20, 20px, @screens: @screens);
  .width(25, 25px, @screens: @screens);
  .width(30, 30px, @screens: @screens);
  .width(35, 35px, @screens: @screens);
  .width(40, 40px, @screens: @screens);
  .width(45, 45px, @screens: @screens);
  .width(50, 50px, @screens: @screens);
  .width(55, 55px, @screens: @screens);
  .width(60, 60px, @screens: @screens);
  .width(65, 65px, @screens: @screens);
  .width(70, 70px, @screens: @screens);
  .width(75, 75px, @screens: @screens);
  .width(80, 80px, @screens: @screens);
  .width(85, 85px, @screens: @screens);
  .width(90, 90px, @screens: @screens);
  .width(95, 95px, @screens: @screens);
  .width(100, 100px, @screens: @screens);
  .width(105, 105px, @screens: @screens);
  .width(110, 110px, @screens: @screens);
  .width(115, 115px, @screens: @screens);
  .width(120, 120px, @screens: @screens);
}
@media (min-width: @screen-lg) {
  @screens: ~'lg';
  // Keyword
  .width(auto, auto, @screens: @screens);
  .width(min, min-content, @screens: @screens);
  .width(max, max-content, @screens: @screens);
  .width(full, 100%, @screens: @screens);
  .width(screen, 100vw, @screens: @screens);
  // Percent
  .width(~'1\/12', (1 / 12 * 100%), @screens: @screens);
  .width(~'2\/12', (2 / 12 * 100%), @screens: @screens);
  .width(~'3\/12', (3 / 12 * 100%), @screens: @screens);
  .width(~'4\/12', (4 / 12 * 100%), @screens: @screens);
  .width(~'5\/12', (5 / 12 * 100%), @screens: @screens);
  .width(~'6\/12', (6 / 12 * 100%), @screens: @screens);
  .width(~'7\/12', (7 / 12 * 100%), @screens: @screens);
  .width(~'8\/12', (8 / 12 * 100%), @screens: @screens);
  .width(~'9\/12', (9 / 12 * 100%), @screens: @screens);
  .width(~'10\/12', (10 / 12 * 100%), @screens: @screens);
  .width(~'11\/12', (11 / 12 * 100%), @screens: @screens);
  .width(~'1\/5', (1 / 5 * 100%), @screens: @screens);
  .width(~'2\/5', (2 / 5 * 100%), @screens: @screens);
  .width(~'3\/5', (3 / 5 * 100%), @screens: @screens);
  .width(~'4\/5', (4 / 5 * 100%), @screens: @screens);
  // Pixel
  .width(0, 0px, @screens: @screens);
  .width(5, 5px, @screens: @screens);
  .width(10, 10px, @screens: @screens);
  .width(15, 15px, @screens: @screens);
  .width(20, 20px, @screens: @screens);
  .width(25, 25px, @screens: @screens);
  .width(30, 30px, @screens: @screens);
  .width(35, 35px, @screens: @screens);
  .width(40, 40px, @screens: @screens);
  .width(45, 45px, @screens: @screens);
  .width(50, 50px, @screens: @screens);
  .width(55, 55px, @screens: @screens);
  .width(60, 60px, @screens: @screens);
  .width(65, 65px, @screens: @screens);
  .width(70, 70px, @screens: @screens);
  .width(75, 75px, @screens: @screens);
  .width(80, 80px, @screens: @screens);
  .width(85, 85px, @screens: @screens);
  .width(90, 90px, @screens: @screens);
  .width(95, 95px, @screens: @screens);
  .width(100, 100px, @screens: @screens);
  .width(105, 105px, @screens: @screens);
  .width(110, 110px, @screens: @screens);
  .width(115, 115px, @screens: @screens);
  .width(120, 120px, @screens: @screens);
}
@media (min-width: @screen-xl) {
  @screens: ~'xl';
  // Keyword
  .width(auto, auto, @screens: @screens);
  .width(min, min-content, @screens: @screens);
  .width(max, max-content, @screens: @screens);
  .width(full, 100%, @screens: @screens);
  .width(screen, 100vw, @screens: @screens);
  // Percent
  .width(~'1\/12', (1 / 12 * 100%), @screens: @screens);
  .width(~'2\/12', (2 / 12 * 100%), @screens: @screens);
  .width(~'3\/12', (3 / 12 * 100%), @screens: @screens);
  .width(~'4\/12', (4 / 12 * 100%), @screens: @screens);
  .width(~'5\/12', (5 / 12 * 100%), @screens: @screens);
  .width(~'6\/12', (6 / 12 * 100%), @screens: @screens);
  .width(~'7\/12', (7 / 12 * 100%), @screens: @screens);
  .width(~'8\/12', (8 / 12 * 100%), @screens: @screens);
  .width(~'9\/12', (9 / 12 * 100%), @screens: @screens);
  .width(~'10\/12', (10 / 12 * 100%), @screens: @screens);
  .width(~'11\/12', (11 / 12 * 100%), @screens: @screens);
  .width(~'1\/5', (1 / 5 * 100%), @screens: @screens);
  .width(~'2\/5', (2 / 5 * 100%), @screens: @screens);
  .width(~'3\/5', (3 / 5 * 100%), @screens: @screens);
  .width(~'4\/5', (4 / 5 * 100%), @screens: @screens);
  // Pixel
  .width(0, 0px, @screens: @screens);
  .width(5, 5px, @screens: @screens);
  .width(10, 10px, @screens: @screens);
  .width(15, 15px, @screens: @screens);
  .width(20, 20px, @screens: @screens);
  .width(25, 25px, @screens: @screens);
  .width(30, 30px, @screens: @screens);
  .width(35, 35px, @screens: @screens);
  .width(40, 40px, @screens: @screens);
  .width(45, 45px, @screens: @screens);
  .width(50, 50px, @screens: @screens);
  .width(55, 55px, @screens: @screens);
  .width(60, 60px, @screens: @screens);
  .width(65, 65px, @screens: @screens);
  .width(70, 70px, @screens: @screens);
  .width(75, 75px, @screens: @screens);
  .width(80, 80px, @screens: @screens);
  .width(85, 85px, @screens: @screens);
  .width(90, 90px, @screens: @screens);
  .width(95, 95px, @screens: @screens);
  .width(100, 100px, @screens: @screens);
  .width(105, 105px, @screens: @screens);
  .width(110, 110px, @screens: @screens);
  .width(115, 115px, @screens: @screens);
  .width(120, 120px, @screens: @screens);
}

/*
 * Min width
**/
.min-width(0, 0px);
.min-width(full, 100%);
.min-width(min, min-content);
.min-width(max, max-content);

/*
 * Max width
**/
.max-width(0, 0px);
.max-width(none, none);
.max-width(full, 100%);
.max-width(min, min-content);
.max-width(max, max-content);

/*
 * Height
**/
.height(0, 0px);
.height(full, 100%);
.height(screen, 100vh);
// Pixel
.height(0, 0px);
.height(5, 5px);
.height(10, 10px);
.height(15, 15px);
.height(20, 20px);
.height(25, 25px);
.height(30, 30px);
.height(35, 35px);
.height(40, 40px);
.height(45, 45px);
.height(50, 50px);
.height(55, 55px);
.height(60, 60px);
.height(65, 65px);
.height(70, 70px);
.height(75, 75px);
.height(80, 80px);
.height(85, 85px);
.height(90, 90px);
.height(95, 95px);
.height(100, 100px);
.height(105, 105px);
.height(110, 110px);
.height(115, 115px);
.height(120, 120px);
@media (min-width: @screen-sm) {
  @screens: ~'sm';
  .height(0, 0px, @screens: @screens);
  .height(full, 100%, @screens: @screens);
  .height(screen, 100vh, @screens: @screens);
  // Pixel
  .height(0, 0px, @screens: @screens);
  .height(5, 5px, @screens: @screens);
  .height(10, 10px, @screens: @screens);
  .height(15, 15px, @screens: @screens);
  .height(20, 20px, @screens: @screens);
  .height(25, 25px, @screens: @screens);
  .height(30, 30px, @screens: @screens);
  .height(35, 35px, @screens: @screens);
  .height(40, 40px, @screens: @screens);
  .height(45, 45px, @screens: @screens);
  .height(50, 50px, @screens: @screens);
  .height(55, 55px, @screens: @screens);
  .height(60, 60px, @screens: @screens);
  .height(65, 65px, @screens: @screens);
  .height(70, 70px, @screens: @screens);
  .height(75, 75px, @screens: @screens);
  .height(80, 80px, @screens: @screens);
  .height(85, 85px, @screens: @screens);
  .height(90, 90px, @screens: @screens);
  .height(95, 95px, @screens: @screens);
  .height(100, 100px, @screens: @screens);
  .height(105, 105px, @screens: @screens);
  .height(110, 110px, @screens: @screens);
  .height(115, 115px, @screens: @screens);
  .height(120, 120px, @screens: @screens);
}
@media (min-width: @screen-md) {
  @screens: ~'md';
  .height(0, 0px, @screens: @screens);
  .height(full, 100%, @screens: @screens);
  .height(screen, 100vh, @screens: @screens);
  // Pixel
  .height(0, 0px, @screens: @screens);
  .height(5, 5px, @screens: @screens);
  .height(10, 10px, @screens: @screens);
  .height(15, 15px, @screens: @screens);
  .height(20, 20px, @screens: @screens);
  .height(25, 25px, @screens: @screens);
  .height(30, 30px, @screens: @screens);
  .height(35, 35px, @screens: @screens);
  .height(40, 40px, @screens: @screens);
  .height(45, 45px, @screens: @screens);
  .height(50, 50px, @screens: @screens);
  .height(55, 55px, @screens: @screens);
  .height(60, 60px, @screens: @screens);
  .height(65, 65px, @screens: @screens);
  .height(70, 70px, @screens: @screens);
  .height(75, 75px, @screens: @screens);
  .height(80, 80px, @screens: @screens);
  .height(85, 85px, @screens: @screens);
  .height(90, 90px, @screens: @screens);
  .height(95, 95px, @screens: @screens);
  .height(100, 100px, @screens: @screens);
  .height(105, 105px, @screens: @screens);
  .height(110, 110px, @screens: @screens);
  .height(115, 115px, @screens: @screens);
  .height(120, 120px, @screens: @screens);
}
@media (min-width: @screen-lg) {
  @screens: ~'lg';
  .height(0, 0px, @screens: @screens);
  .height(full, 100%, @screens: @screens);
  .height(screen, 100vh, @screens: @screens);
  // Pixel
  .height(0, 0px, @screens: @screens);
  .height(5, 5px, @screens: @screens);
  .height(10, 10px, @screens: @screens);
  .height(15, 15px, @screens: @screens);
  .height(20, 20px, @screens: @screens);
  .height(25, 25px, @screens: @screens);
  .height(30, 30px, @screens: @screens);
  .height(35, 35px, @screens: @screens);
  .height(40, 40px, @screens: @screens);
  .height(45, 45px, @screens: @screens);
  .height(50, 50px, @screens: @screens);
  .height(55, 55px, @screens: @screens);
  .height(60, 60px, @screens: @screens);
  .height(65, 65px, @screens: @screens);
  .height(70, 70px, @screens: @screens);
  .height(75, 75px, @screens: @screens);
  .height(80, 80px, @screens: @screens);
  .height(85, 85px, @screens: @screens);
  .height(90, 90px, @screens: @screens);
  .height(95, 95px, @screens: @screens);
  .height(100, 100px, @screens: @screens);
  .height(105, 105px, @screens: @screens);
  .height(110, 110px, @screens: @screens);
  .height(115, 115px, @screens: @screens);
  .height(120, 120px, @screens: @screens);
}
@media (min-width: @screen-xl) {
  @screens: ~'xl';
  .height(0, 0px, @screens: @screens);
  .height(full, 100%, @screens: @screens);
  .height(screen, 100vh, @screens: @screens);
  // Pixel
  .height(0, 0px, @screens: @screens);
  .height(5, 5px, @screens: @screens);
  .height(10, 10px, @screens: @screens);
  .height(15, 15px, @screens: @screens);
  .height(20, 20px, @screens: @screens);
  .height(25, 25px, @screens: @screens);
  .height(30, 30px, @screens: @screens);
  .height(35, 35px, @screens: @screens);
  .height(40, 40px, @screens: @screens);
  .height(45, 45px, @screens: @screens);
  .height(50, 50px, @screens: @screens);
  .height(55, 55px, @screens: @screens);
  .height(60, 60px, @screens: @screens);
  .height(65, 65px, @screens: @screens);
  .height(70, 70px, @screens: @screens);
  .height(75, 75px, @screens: @screens);
  .height(80, 80px, @screens: @screens);
  .height(85, 85px, @screens: @screens);
  .height(90, 90px, @screens: @screens);
  .height(95, 95px, @screens: @screens);
  .height(100, 100px, @screens: @screens);
  .height(105, 105px, @screens: @screens);
  .height(110, 110px, @screens: @screens);
  .height(115, 115px, @screens: @screens);
  .height(120, 120px, @screens: @screens);
}

/*
 * Min height
**/
.min-height(0, 0px);
.min-height(full, 100%);
.min-height(screen, 100vh);

/*
 * Max height
**/
.max-height(0, 0px);
.max-height(none, none);
.max-height(full, 100%);
.max-height(screen, 100vh);

/*
 * Ratio
**/
.ratio(~'1\/2', (1 / 2 * 100%));
.ratio(~'9\/16', (9 / 16 * 100%));
.ratio(~'2\/3', (2 / 3 * 100%));
.ratio(~'3\/4', (3 / 4 * 100%));
.ratio(~'5\/4', (5 / 4 * 100%));
.ratio(~'3\/2', (3 / 2 * 100%));
.ratio(~'7\/4', (7 / 4 * 100%));
.ratio(~'2\/1', (2 / 1 * 100%));