/*
 * Spacing
**/
// Keyword
.margin(auto, auto, @minus: false);
.spacing(full, 100%);
// Percent
.spacing(~'1\/12', (1 / 12 * 100%));
.spacing(~'2\/12', (2 / 12 * 100%));
.spacing(~'3\/12', (3 / 12 * 100%));
.spacing(~'4\/12', (4 / 12 * 100%));
.spacing(~'5\/12', (5 / 12 * 100%));
.spacing(~'6\/12', (6 / 12 * 100%));
.spacing(~'7\/12', (7 / 12 * 100%));
.spacing(~'8\/12', (8 / 12 * 100%));
.spacing(~'9\/12', (9 / 12 * 100%));
.spacing(~'10\/12', (10 / 12 * 100%));
.spacing(~'11\/12', (11 / 12 * 100%));
.spacing(~'1\/5', (1 / 5 * 100%));
.spacing(~'2\/5', (2 / 5 * 100%));
.spacing(~'3\/5', (3 / 5 * 100%));
.spacing(~'4\/5', (4 / 5 * 100%));
// Pixel
.spacing(0, 0px);
.spacing(5, 5px);
.spacing(10, 10px);
.spacing(15, 15px);
.spacing(20, 20px);
.spacing(25, 25px);
.spacing(30, 30px);
.spacing(35, 35px);
.spacing(40, 40px);
.spacing(45, 45px);
.spacing(50, 50px);
.spacing(55, 55px);
.spacing(60, 60px);
.spacing(65, 65px);
.spacing(70, 70px);
.spacing(75, 75px);
.spacing(80, 80px);
.spacing(85, 85px);
.spacing(90, 90px);
.spacing(95, 95px);
.spacing(100, 100px);
.spacing(105, 105px);
.spacing(110, 110px);
.spacing(115, 115px);
.spacing(120, 120px);
@media (min-width: @screen-sm) {
  @screens: ~'sm';
  // Keyword
  .margin(auto, auto, @screens: @screens, @minus: false);
  .spacing(full, 100%, @screens: @screens);
  // Percent
  .spacing(~'1\/12', (1 / 12 * 100%), @screens: @screens);
  .spacing(~'2\/12', (2 / 12 * 100%), @screens: @screens);
  .spacing(~'3\/12', (3 / 12 * 100%), @screens: @screens);
  .spacing(~'4\/12', (4 / 12 * 100%), @screens: @screens);
  .spacing(~'5\/12', (5 / 12 * 100%), @screens: @screens);
  .spacing(~'6\/12', (6 / 12 * 100%), @screens: @screens);
  .spacing(~'7\/12', (7 / 12 * 100%), @screens: @screens);
  .spacing(~'8\/12', (8 / 12 * 100%), @screens: @screens);
  .spacing(~'9\/12', (9 / 12 * 100%), @screens: @screens);
  .spacing(~'10\/12', (10 / 12 * 100%), @screens: @screens);
  .spacing(~'11\/12', (11 / 12 * 100%), @screens: @screens);
  .spacing(~'1\/5', (1 / 5 * 100%), @screens: @screens);
  .spacing(~'2\/5', (2 / 5 * 100%), @screens: @screens);
  .spacing(~'3\/5', (3 / 5 * 100%), @screens: @screens);
  .spacing(~'4\/5', (4 / 5 * 100%), @screens: @screens);
  // Pixel
  .spacing(0, 0px, @screens: @screens);
  .spacing(5, 5px, @screens: @screens);
  .spacing(10, 10px, @screens: @screens);
  .spacing(15, 15px, @screens: @screens);
  .spacing(20, 20px, @screens: @screens);
  .spacing(25, 25px, @screens: @screens);
  .spacing(30, 30px, @screens: @screens);
  .spacing(35, 35px, @screens: @screens);
  .spacing(40, 40px, @screens: @screens);
  .spacing(45, 45px, @screens: @screens);
  .spacing(50, 50px, @screens: @screens);
  .spacing(55, 55px, @screens: @screens);
  .spacing(60, 60px, @screens: @screens);
  .spacing(65, 65px, @screens: @screens);
  .spacing(70, 70px, @screens: @screens);
  .spacing(75, 75px, @screens: @screens);
  .spacing(80, 80px, @screens: @screens);
  .spacing(85, 85px, @screens: @screens);
  .spacing(90, 90px, @screens: @screens);
  .spacing(95, 95px, @screens: @screens);
  .spacing(100, 100px, @screens: @screens);
  .spacing(105, 105px, @screens: @screens);
  .spacing(110, 110px, @screens: @screens);
  .spacing(115, 115px, @screens: @screens);
  .spacing(120, 120px, @screens: @screens);
}
@media (min-width: @screen-md) {
  @screens: ~'md';
  // Keyword
  .margin(auto, auto, @screens: @screens, @minus: false);
  .spacing(full, 100%, @screens: @screens);
  // Percent
  .spacing(~'1\/12', (1 / 12 * 100%), @screens: @screens);
  .spacing(~'2\/12', (2 / 12 * 100%), @screens: @screens);
  .spacing(~'3\/12', (3 / 12 * 100%), @screens: @screens);
  .spacing(~'4\/12', (4 / 12 * 100%), @screens: @screens);
  .spacing(~'5\/12', (5 / 12 * 100%), @screens: @screens);
  .spacing(~'6\/12', (6 / 12 * 100%), @screens: @screens);
  .spacing(~'7\/12', (7 / 12 * 100%), @screens: @screens);
  .spacing(~'8\/12', (8 / 12 * 100%), @screens: @screens);
  .spacing(~'9\/12', (9 / 12 * 100%), @screens: @screens);
  .spacing(~'10\/12', (10 / 12 * 100%), @screens: @screens);
  .spacing(~'11\/12', (11 / 12 * 100%), @screens: @screens);
  .spacing(~'1\/5', (1 / 5 * 100%), @screens: @screens);
  .spacing(~'2\/5', (2 / 5 * 100%), @screens: @screens);
  .spacing(~'3\/5', (3 / 5 * 100%), @screens: @screens);
  .spacing(~'4\/5', (4 / 5 * 100%), @screens: @screens);
  // Pixel
  .spacing(0, 0px, @screens: @screens);
  .spacing(5, 5px, @screens: @screens);
  .spacing(10, 10px, @screens: @screens);
  .spacing(15, 15px, @screens: @screens);
  .spacing(20, 20px, @screens: @screens);
  .spacing(25, 25px, @screens: @screens);
  .spacing(30, 30px, @screens: @screens);
  .spacing(35, 35px, @screens: @screens);
  .spacing(40, 40px, @screens: @screens);
  .spacing(45, 45px, @screens: @screens);
  .spacing(50, 50px, @screens: @screens);
  .spacing(55, 55px, @screens: @screens);
  .spacing(60, 60px, @screens: @screens);
  .spacing(65, 65px, @screens: @screens);
  .spacing(70, 70px, @screens: @screens);
  .spacing(75, 75px, @screens: @screens);
  .spacing(80, 80px, @screens: @screens);
  .spacing(85, 85px, @screens: @screens);
  .spacing(90, 90px, @screens: @screens);
  .spacing(95, 95px, @screens: @screens);
  .spacing(100, 100px, @screens: @screens);
  .spacing(105, 105px, @screens: @screens);
  .spacing(110, 110px, @screens: @screens);
  .spacing(115, 115px, @screens: @screens);
  .spacing(120, 120px, @screens: @screens);
}
@media (min-width: @screen-lg) {
  @screens: ~'lg';
  // Keyword
  .margin(auto, auto, @screens: @screens, @minus: false);
  .spacing(full, 100%, @screens: @screens);
  // Percent
  .spacing(~'1\/12', (1 / 12 * 100%), @screens: @screens);
  .spacing(~'2\/12', (2 / 12 * 100%), @screens: @screens);
  .spacing(~'3\/12', (3 / 12 * 100%), @screens: @screens);
  .spacing(~'4\/12', (4 / 12 * 100%), @screens: @screens);
  .spacing(~'5\/12', (5 / 12 * 100%), @screens: @screens);
  .spacing(~'6\/12', (6 / 12 * 100%), @screens: @screens);
  .spacing(~'7\/12', (7 / 12 * 100%), @screens: @screens);
  .spacing(~'8\/12', (8 / 12 * 100%), @screens: @screens);
  .spacing(~'9\/12', (9 / 12 * 100%), @screens: @screens);
  .spacing(~'10\/12', (10 / 12 * 100%), @screens: @screens);
  .spacing(~'11\/12', (11 / 12 * 100%), @screens: @screens);
  .spacing(~'1\/5', (1 / 5 * 100%), @screens: @screens);
  .spacing(~'2\/5', (2 / 5 * 100%), @screens: @screens);
  .spacing(~'3\/5', (3 / 5 * 100%), @screens: @screens);
  .spacing(~'4\/5', (4 / 5 * 100%), @screens: @screens);
  // Pixel
  .spacing(0, 0px, @screens: @screens);
  .spacing(5, 5px, @screens: @screens);
  .spacing(10, 10px, @screens: @screens);
  .spacing(15, 15px, @screens: @screens);
  .spacing(20, 20px, @screens: @screens);
  .spacing(25, 25px, @screens: @screens);
  .spacing(30, 30px, @screens: @screens);
  .spacing(35, 35px, @screens: @screens);
  .spacing(40, 40px, @screens: @screens);
  .spacing(45, 45px, @screens: @screens);
  .spacing(50, 50px, @screens: @screens);
  .spacing(55, 55px, @screens: @screens);
  .spacing(60, 60px, @screens: @screens);
  .spacing(65, 65px, @screens: @screens);
  .spacing(70, 70px, @screens: @screens);
  .spacing(75, 75px, @screens: @screens);
  .spacing(80, 80px, @screens: @screens);
  .spacing(85, 85px, @screens: @screens);
  .spacing(90, 90px, @screens: @screens);
  .spacing(95, 95px, @screens: @screens);
  .spacing(100, 100px, @screens: @screens);
  .spacing(105, 105px, @screens: @screens);
  .spacing(110, 110px, @screens: @screens);
  .spacing(115, 115px, @screens: @screens);
  .spacing(120, 120px, @screens: @screens);
}
@media (min-width: @screen-xl) {
  @screens: ~'xl';
  // Keyword
  .margin(auto, auto, @screens: @screens, @minus: false);
  .spacing(full, 100%, @screens: @screens);
  // Percent
  .spacing(~'1\/12', (1 / 12 * 100%), @screens: @screens);
  .spacing(~'2\/12', (2 / 12 * 100%), @screens: @screens);
  .spacing(~'3\/12', (3 / 12 * 100%), @screens: @screens);
  .spacing(~'4\/12', (4 / 12 * 100%), @screens: @screens);
  .spacing(~'5\/12', (5 / 12 * 100%), @screens: @screens);
  .spacing(~'6\/12', (6 / 12 * 100%), @screens: @screens);
  .spacing(~'7\/12', (7 / 12 * 100%), @screens: @screens);
  .spacing(~'8\/12', (8 / 12 * 100%), @screens: @screens);
  .spacing(~'9\/12', (9 / 12 * 100%), @screens: @screens);
  .spacing(~'10\/12', (10 / 12 * 100%), @screens: @screens);
  .spacing(~'11\/12', (11 / 12 * 100%), @screens: @screens);
  .spacing(~'1\/5', (1 / 5 * 100%), @screens: @screens);
  .spacing(~'2\/5', (2 / 5 * 100%), @screens: @screens);
  .spacing(~'3\/5', (3 / 5 * 100%), @screens: @screens);
  .spacing(~'4\/5', (4 / 5 * 100%), @screens: @screens);
  // Pixel
  .spacing(0, 0px, @screens: @screens);
  .spacing(5, 5px, @screens: @screens);
  .spacing(10, 10px, @screens: @screens);
  .spacing(15, 15px, @screens: @screens);
  .spacing(20, 20px, @screens: @screens);
  .spacing(25, 25px, @screens: @screens);
  .spacing(30, 30px, @screens: @screens);
  .spacing(35, 35px, @screens: @screens);
  .spacing(40, 40px, @screens: @screens);
  .spacing(45, 45px, @screens: @screens);
  .spacing(50, 50px, @screens: @screens);
  .spacing(55, 55px, @screens: @screens);
  .spacing(60, 60px, @screens: @screens);
  .spacing(65, 65px, @screens: @screens);
  .spacing(70, 70px, @screens: @screens);
  .spacing(75, 75px, @screens: @screens);
  .spacing(80, 80px, @screens: @screens);
  .spacing(85, 85px, @screens: @screens);
  .spacing(90, 90px, @screens: @screens);
  .spacing(95, 95px, @screens: @screens);
  .spacing(100, 100px, @screens: @screens);
  .spacing(105, 105px, @screens: @screens);
  .spacing(110, 110px, @screens: @screens);
  .spacing(115, 115px, @screens: @screens);
  .spacing(120, 120px, @screens: @screens);
}